<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
<add key="ip" value="80.209.238.247"/>
<add key="port" value="8888"/>
<add key="httpVersion" value="HTTP/1.1"/>
<add key="scheme" value="https"/>
<add key="maxBufferSize" value="5000000"/>
<add key="maxAttempts" value="500"/>
<add key="timeout" value="200"/>
<add key="certFileName" value="..\security\ssl-certificate.pfx"/>
<add key="password" value="burbulometodas"/>
</appSettings>
</configuration>